<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <body> 
       
        <h1>Total product got sold </h2> 
        <ul id="Product">
            {% for item in Product %}
               
                <TR>
                    <li><TD class="c2">{{item.product_name}}</TD>
                    <TD class="c3">{{item.quantity}}</TD>
                    <TD class="c4"><SPAN>{{item.rate}}</SPAN></TD></li>
                    
                  
            {% endfor %}
            </ul>
    </body> 
    
</body>
</html>